/* src/styles/styles.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #333;
}

.navbar {
  background-color: #282c34;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin: 1rem;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-details {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #282c34;
}

.review-form {
  margin: 2rem 0;
}

.review-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.review-form input,
.review-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.review-form button {
  background-color: #282c34;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #4CAF50; /* Cambia el color al pasar el mouse */
}

.trivia-game {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
